* {
    font-family: "Ubuntu", sans-serif;
}

.welcome {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__image {
        border-radius: 10px;
        width: 230px;
        height: 230px;
        background-image: url(../images/image.jpg);
        position: relative;
    }

    &__image-label {
        bottom: 10px;
        right: 10px;
        background-image: url(../images/label.png);
        height: 31px;
        background-repeat: no-repeat;
        position: absolute;
        width: 187px;
    }
}

.demos {
    margin-top: 24px;
    border-radius: 11px;
    background-color: antiquewhite;
    padding: 0 10px;
    width: 213px;

    .react-stateless-app,
    .react-stateful-app,
    .react-mobx-app {
        p {
            font-size: 14px;
            text-align: center;
            color: coral;
        }

        &.react-stateless-app p {
            color: coral;
        }

        &.react-stateful-app p {
            color: blueviolet;
        }

        button {
            display: block;
            margin: 0 auto;
        }
    }
}
